-
    var person = {
        title: 'Peasant',
        slogan1: 'yupee'
    }

    var autenticated = false

#codetap
    if person.slogan
        h1 Codetap info
        p.slogan= person.slogan
    else if autenticated
        h1 Welcom to country
        p.slogan.
            dasdasdasdasdas
    else
        h1 sdsdsdsd

    unless autenticated
        p this is unless
    if !autenticated
        p this is unless