- 
    var amount = -450
case amount
    when 0
    when 50
        p it will show 50
    when 50-500
        p the number is between - 50 and 500
    when 500
        p The number is 500
    default
        p Game Over - Insert coin!